@charset "utf-8";
/* CSS Document */
.top_1{
	background:url(../image/lan.jpg) no-repeat;
	width:979px;
	height:94px;
	}
.top_ren{ margin:11px auto auto 712px;}
.top_b{ margin-left:760px; margin-top:35px; color:#F6F6F6;}
.top_ad{ color:#F00;}
.top_tc{ color:#FFF;margin-left:0px}